apiVersion: batch/v1
kind: Job
metadata:
  name: app-migration
  namespace: global-task-fintech
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    spec:
      containers:
        - name: migration
          image: global_task_fintech:latest
          imagePullPolicy: IfNotPresent
          command: ["/app/bin/global_task_fintech", "eval", "GlobalTaskFintech.Release.migrate"]
          envFrom:
            - secretRef:
                name: app-secrets
            - configMapRef:
                name: app-config
      restartPolicy: OnFailure
